In [ ]:
import nltk
import re
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
text = "Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes. The ones who see things differently — they’re not fond of rules. You can quote them, disagree with them, glorify or vilify them, but the only thing you can’t do is ignore them because they change things. They push the human race forward, and while some may see them as the crazy ones, we see genius, because the ones who are crazy enough to think that they can change the world, are the ones who do."

#Tokenization

In [ ]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

In [ ]:
word_tokenized = word_tokenize(text)
word_tokenized

['Here',
 '’',
 's',
 'to',
 'the',
 'crazy',
 'ones',
 ',',
 'the',
 'misfits',
 ',',
 'the',
 'rebels',
 ',',
 'the',
 'troublemakers',
 ',',
 'the',
 'round',
 'pegs',
 'in',
 'the',
 'square',
 'holes',
 '.',
 'The',
 'ones',
 'who',
 'see',
 'things',
 'differently',
 '—',
 'they',
 '’',
 're',
 'not',
 'fond',
 'of',
 'rules',
 '.',
 'You',
 'can',
 'quote',
 'them',
 ',',
 'disagree',
 'with',
 'them',
 ',',
 'glorify',
 'or',
 'vilify',
 'them',
 ',',
 'but',
 'the',
 'only',
 'thing',
 'you',
 'can',
 '’',
 't',
 'do',
 'is',
 'ignore',
 'them',
 'because',
 'they',
 'change',
 'things',
 '.',
 'They',
 'push',
 'the',
 'human',
 'race',
 'forward',
 ',',
 'and',
 'while',
 'some',
 'may',
 'see',
 'them',
 'as',
 'the',
 'crazy',
 'ones',
 ',',
 'we',
 'see',
 'genius',
 ',',
 'because',
 'the',
 'ones',
 'who',
 'are',
 'crazy',
 'enough',
 'to',
 'think',
 'that',
 'they',
 'can',
 'change',
 'the',
 'world',
 ',',
 'are',
 'the',
 'ones',
 'who',
 'do',
 '.']

In [ ]:
tokenized_sents = sent_tokenize(text)
tokenized_sents

['Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes.',
 'The ones who see things differently — they’re not fond of rules.',
 'You can quote them, disagree with them, glorify or vilify them, but the only thing you can’t do is ignore them because they change things.',
 'They push the human race forward, and while some may see them as the crazy ones, we see genius, because the ones who are crazy enough to think that they can change the world, are the ones who do.']

#Removing Stopwords

In [ ]:
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
text = re.sub('[^a-zA-Z0-9 \n\.]', '', text)

In [ ]:
text

'Heres to the crazy ones the misfits the rebels the troublemakers the round pegs in the square holes. The ones who see things differently  theyre not fond of rules. You can quote them disagree with them glorify or vilify them but the only thing you cant do is ignore them because they change things. They push the human race forward and while some may see them as the crazy ones we see genius because the ones who are crazy enough to think that they can change the world are the ones who do.'

In [ ]:
tokenized_words = word_tokenize(text.lower())

In [ ]:
tokenized_words

['heres',
 'to',
 'the',
 'crazy',
 'ones',
 'the',
 'misfits',
 'the',
 'rebels',
 'the',
 'troublemakers',
 'the',
 'round',
 'pegs',
 'in',
 'the',
 'square',
 'holes',
 '.',
 'the',
 'ones',
 'who',
 'see',
 'things',
 'differently',
 'theyre',
 'not',
 'fond',
 'of',
 'rules',
 '.',
 'you',
 'can',
 'quote',
 'them',
 'disagree',
 'with',
 'them',
 'glorify',
 'or',
 'vilify',
 'them',
 'but',
 'the',
 'only',
 'thing',
 'you',
 'cant',
 'do',
 'is',
 'ignore',
 'them',
 'because',
 'they',
 'change',
 'things',
 '.',
 'they',
 'push',
 'the',
 'human',
 'race',
 'forward',
 'and',
 'while',
 'some',
 'may',
 'see',
 'them',
 'as',
 'the',
 'crazy',
 'ones',
 'we',
 'see',
 'genius',
 'because',
 'the',
 'ones',
 'who',
 'are',
 'crazy',
 'enough',
 'to',
 'think',
 'that',
 'they',
 'can',
 'change',
 'the',
 'world',
 'are',
 'the',
 'ones',
 'who',
 'do',
 '.']

In [ ]:
filtered_text = []

for word in tokenized_words:
  if word not in stop_words:
    filtered_text.append(word)

In [ ]:
print("Tokens Before Removing Stopwords", tokenized_words)
print("Tokens After Removing Stopwords", filtered_text)

Tokens Before Removing Stopwords ['heres', 'to', 'the', 'crazy', 'ones', 'the', 'misfits', 'the', 'rebels', 'the', 'troublemakers', 'the', 'round', 'pegs', 'in', 'the', 'square', 'holes', '.', 'the', 'ones', 'who', 'see', 'things', 'differently', 'theyre', 'not', 'fond', 'of', 'rules', '.', 'you', 'can', 'quote', 'them', 'disagree', 'with', 'them', 'glorify', 'or', 'vilify', 'them', 'but', 'the', 'only', 'thing', 'you', 'cant', 'do', 'is', 'ignore', 'them', 'because', 'they', 'change', 'things', '.', 'they', 'push', 'the', 'human', 'race', 'forward', 'and', 'while', 'some', 'may', 'see', 'them', 'as', 'the', 'crazy', 'ones', 'we', 'see', 'genius', 'because', 'the', 'ones', 'who', 'are', 'crazy', 'enough', 'to', 'think', 'that', 'they', 'can', 'change', 'the', 'world', 'are', 'the', 'ones', 'who', 'do', '.']
Tokens After Removing Stopwords ['heres', 'crazy', 'ones', 'misfits', 'rebels', 'troublemakers', 'round', 'pegs', 'square', 'holes', '.', 'ones', 'see', 'things', 'differently', 'theyre', 'fond', 'rules', '.', 'quote', 'disagree', 'glorify', 'vilify', 'thing', 'cant', 'ignore', 'change', 'things', '.', 'push', 'human', 'race', 'forward', 'may', 'see', 'crazy', 'ones', 'see', 'genius', 'ones', 'crazy', 'enough', 'think', 'change', 'world', 'ones', '.']

#Stemming

In [ ]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

In [ ]:
ps = PorterStemmer()

for word in filtered_text:
  print(word, ' : ', ps.stem(word))

heres  :  here
crazy  :  crazi
ones  :  one
misfits  :  misfit
rebels  :  rebel
troublemakers  :  troublemak
round  :  round
pegs  :  peg
square  :  squar
holes  :  hole
.  :  .
ones  :  one
see  :  see
things  :  thing
differently  :  differ
theyre  :  theyr
fond  :  fond
rules  :  rule
.  :  .
quote  :  quot
disagree  :  disagre
glorify  :  glorifi
vilify  :  vilifi
thing  :  thing
cant  :  cant
ignore  :  ignor
change  :  chang
things  :  thing
.  :  .
push  :  push
human  :  human
race  :  race
forward  :  forward
may  :  may
see  :  see
crazy  :  crazi
ones  :  one
see  :  see
genius  :  geniu
ones  :  one
crazy  :  crazi
enough  :  enough
think  :  think
change  :  chang
world  :  world
ones  :  one
.  :  .

#Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
lemmatizer = WordNetLemmatizer()

for word in filtered_text:
  print(word , ' : ', lemmatizer.lemmatize(word))

heres  :  here
crazy  :  crazy
ones  :  one
misfits  :  misfit
rebels  :  rebel
troublemakers  :  troublemaker
round  :  round
pegs  :  peg
square  :  square
holes  :  hole
.  :  .
ones  :  one
see  :  see
things  :  thing
differently  :  differently
theyre  :  theyre
fond  :  fond
rules  :  rule
.  :  .
quote  :  quote
disagree  :  disagree
glorify  :  glorify
vilify  :  vilify
thing  :  thing
cant  :  cant
ignore  :  ignore
change  :  change
things  :  thing
.  :  .
push  :  push
human  :  human
race  :  race
forward  :  forward
may  :  may
see  :  see
crazy  :  crazy
ones  :  one
see  :  see
genius  :  genius
ones  :  one
crazy  :  crazy
enough  :  enough
think  :  think
change  :  change
world  :  world
ones  :  one
.  :  .

#POS Tagging

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
for sentence in sent_tokenize(text):
  word_list = nltk.word_tokenize(sentence)
  word_list = [word for word in word_list if not word in stop_words]
  pos_tagged = nltk.pos_tag(word_list)
  print(pos_tagged)

[('Heres', 'NNS'), ('crazy', 'JJ'), ('ones', 'NNS'), ('misfits', 'NNS'), ('rebels', 'NNS'), ('troublemakers', 'NNS'), ('round', 'VBP'), ('pegs', 'NNS'), ('square', 'JJ'), ('holes', 'NNS'), ('.', '.')]
[('The', 'DT'), ('ones', 'NNS'), ('see', 'VBP'), ('things', 'NNS'), ('differently', 'RB'), ('theyre', 'VBP'), ('fond', 'NN'), ('rules', 'NNS'), ('.', '.')]
[('You', 'PRP'), ('quote', 'VBP'), ('disagree', 'JJ'), ('glorify', 'NN'), ('vilify', 'JJ'), ('thing', 'NN'), ('cant', 'NN'), ('ignore', 'NN'), ('change', 'NN'), ('things', 'NNS'), ('.', '.')]
[('They', 'PRP'), ('push', 'VBP'), ('human', 'JJ'), ('race', 'NN'), ('forward', 'NN'), ('may', 'MD'), ('see', 'VB'), ('crazy', 'JJ'), ('ones', 'NNS'), ('see', 'VBP'), ('genius', 'JJ'), ('ones', 'NNS'), ('crazy', 'JJ'), ('enough', 'RB'), ('think', 'VBP'), ('change', 'JJ'), ('world', 'NN'), ('ones', 'NNS'), ('.', '.')]

#TF-IDF Representation

In [ ]:
import pandas as pd

In [ ]:
def remove_stop_words(document):
  tokenized_words = word_tokenize(document.lower())

  filtered_text = []
  for word in tokenized_words:
    if word not in stop_words:
      filtered_text.append(word)
  
  return filtered_text

In [ ]:
def get_count_of_words(dic, doc):
  for word in doc:
    dic[word] += 1

  return dic

In [ ]:
def get_TF(dic, doc):
  tf_dict = {}
  word_count = len(doc)
  for word, count in dic.items():
    tf_dict[word] = count / float(word_count)

  return tf_dict

In [ ]:
def get_IDF(documents):
  import math
  N = len(documents)
  idf_dict = dict.fromkeys(documents[0].keys(), 0)
  for document in documents:
    for word,count in document.items():
      if count > 0:
        idf_dict[word] += 1

  for word, count in idf_dict.items():
    idf_dict[word] = math.log(N / float(count))
  
  return idf_dict

In [ ]:
def get_TF_IDF(tf, idf):
  tf_idf = {}
  for word, count in tf.items():
    tf_idf[word] = count * idf[word]
  
  return tf_idf

In [ ]:
document_a = "The moon is Earth's only natural satellite"
document_b = "The moon is beautiful and marvellous to look at"

In [ ]:
filtered_doc_a = remove_stop_words(document_a)
filtered_doc_b = remove_stop_words(document_b)

In [ ]:
unique_words = set(filtered_doc_a).union(set(filtered_doc_b))
unique_words

{"'s",
 'beautiful',
 'earth',
 'look',
 'marvellous',
 'moon',
 'natural',
 'satellite'}

In [ ]:
count_of_words_a = get_count_of_words(dict.fromkeys(unique_words, 0), filtered_doc_a)
count_of_words_b = get_count_of_words(dict.fromkeys(unique_words, 0), filtered_doc_b)

In [ ]:
tf_a = get_TF(count_of_words_a, filtered_doc_a)
tf_b = get_TF(count_of_words_b, filtered_doc_b)

In [ ]:
idf = get_IDF([count_of_words_a, count_of_words_b])

In [ ]:
idf

{'beautiful': 0.6931471805599453,
 'earth': 0.6931471805599453,
 'satellite': 0.6931471805599453,
 'natural': 0.6931471805599453,
 'moon': 0.0,
 'look': 0.6931471805599453,
 'marvellous': 0.6931471805599453,
 "'s": 0.6931471805599453}

In [ ]:
tf_idf_a = get_TF_IDF(tf_a, idf)
tf_idf_b = get_TF_IDF(tf_b, idf)

In [ ]:
tf_idf = pd.DataFrame([tf_idf_a, tf_idf_b])
tf_idf

,beautiful,earth,satellite,natural,moon,look,marvellous,'s
0,0.000000,0.138629,0.138629,0.138629,0.0,0.000000,0.000000,0.138629
1,0.173287,0.000000,0.000000,0.000000,0.0,0.173287,0.173287,0.000000